.preTitle {
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #000000;
}

.twoColumnLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 1.5rem;
}
