.photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photoHeader {
  display: flex;
  gap: 1rem;

  img {
    width: 4rem;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 0.25rem;
    border-radius: var(--Border-radius---radius-8, 0.5rem);
    background: var(--color-text-secondary);
  }
}

.photoInfo {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.date {
  color: var(--color-text-secondary);
}

.actions {
  color: var(--color-text-secondary);
  display: flex;
  gap: 1rem;
  align-items: center;

  & > svg {
    &:hover {
      color: var(--color-text-primary);
    }
  }
}
