.infere-page {
  display: flex;

  &__sidebar {
    width: 300px;
    padding: 20px;
  }

  &__settings {
    & > * {
      margin-bottom: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    .video-player-container {
      max-width: 750px;
    }
  }

  &__inference-renderer {
    position: absolute;
  }

  &__upload-btn {
    width: 100%;
  }
}
