.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 353px;
    position: relative;

    span {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        flex-shrink: 0;
    }

    input {
        background-color: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 8px;
        border-radius: 8px;
        max-width: 240px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }

    &::after {
        content: attr(data-after);
        position: absolute;
        right: 12px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 10px;
    }
}