.model-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__icon {
    width: 28px;
    height: 28px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    &_ready {
      background-color: var(--emerald_200);
      svg {
        fill: var(--emerald_500);
      }
    }
  }
}
