.model-logs {
  &__header {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__logs-list-container {
    overflow: hidden;
    border-radius: 16px;
    background-color: #0f0f18;
    color: var(--gray_200);
  }

  &__logs-list {
    padding-left: 16px;
    overflow-y: auto;
  }
}
