.model-detail {
  display: flex;
  gap: 64px;

  &__inputs {
    max-width: 350px;

    & > * {
      margin-top: 10px;
    }
  }

  &__logs {
    pre {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__predict {
    display: flex;
    gap: 64px;
    background: white;
    border-radius: 5px;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    border: 1px solid var(--border-color);
    padding: 9px 16px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;

    &.disabled {
      background: rgba(0, 0, 0, 0.2);
      border-color: transparent;
      cursor: not-allowed;
    }
  }
}
