.infoIcon {
  color: rgba(0, 0, 0, 0.38);
}

.parameter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.label {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.value {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
