@use "sass:map";
@use "../../themes/common/mixins.scss" as mixins;

$size-variants: (
  xs: (
    padding: 0.25rem 0.75rem,
    border-radius: 0.5rem,
    text: 12,
    icon-size: 1rem,
  ),
  sm: (
    padding: 0.5rem 0.875rem,
    border-radius: 0.5rem,
    text: 12,
    icon-size: 1rem,
  ),
  md: (
    padding: 0.5rem 1.25rem,
    border-radius: 0.75rem,
    text: 16,
    icon-size: 1.5rem,
  ),
  lg: (
    padding: 0.75rem 1.5rem,
    border-radius: 0.75rem,
    text: 16,
    icon-size: 1.5rem,
  ),
);
$color-variants: (
  filled: (
    default: (
      background: var(--color-emerald-700),
      border: none,
      color: var(--color-white),
    ),
    hover: (
      background: var(--color-emerald-600),
      border: none,
      color: var(--color-white),
    ),
    active: (
      background: var(--color-emerald-700),
      border: none,
      color: var(--color-white),
    ),
    disabled: (
      background: var(--color-gray-500),
      border: none,
      color: var(--color-white),
    ),
  ),
  outlined: (
    default: (
      background: transparent,
      border: 1px solid var(--color-emerald-700),
      color: var(--color-emerald-700),
    ),
    hover: (
      background: var(--color-emerald-50),
      border: 1px solid var(--color-emerald-600),
      color: var(--color-emerald-600),
    ),
    active: (
      background: transparent,
      border: 1px solid var(--color-emerald-700),
      color: var(--color-emerald-700),
    ),
    disabled: (
      background: transparent,
      border: 1px solid var(--color-gray-500),
      color: var(--color-gray-500),
    ),
  ),
  text: (
    default: (
      background: transparent,
      border: none,
      color: var(--color-emerald-700),
    ),
    hover: (
      background: var(--color-emerald-50),
      border: none,
      color: var(--color-emerald-600),
    ),
    active: (
      background: var(--color-emerald-400),
      border: none,
      color: var(--color-emerald-700),
    ),
    disabled: (
      background: transparent,
      border: none,
      color: var(--color-gray-500),
    ),
  ),
);
.button {
  @each $size, $props in $size-variants {
    &--#{$size} {
      padding: map.get($props, padding);
      border-radius: map.get($props, border-radius);
      @include mixins.text(map.get($props, text));
      font-weight: 500;
      .button__icon {
        width: map.get($props, icon-size);
        height: map.get($props, icon-size);
      }
    }
  }
  @each $color-variant, $states in $color-variants {
    &--#{$color-variant} {
      background: map.get(map.get($states, default), background);
      border: map.get(map.get($states, default), border);
      color: map.get(map.get($states, default), color);
      svg path {
        fill: map.get(map.get($states, default), color);
      }
      &:hover:not([data-disabled]) {
        background: map.get(map.get($states, hover), background);
        border: map.get(map.get($states, hover), border);
        color: map.get(map.get($states, hover), color);
        svg path {
          fill: map.get(map.get($states, default), color);
        }
      }
      &:active:not([data-disabled]) {
        background: map.get(map.get($states, active), background);
        border: map.get(map.get($states, active), border);
        color: map.get(map.get($states, active), color);
        svg path {
          fill: map.get(map.get($states, default), color);
        }
      }
      &:disabled {
        background: map.get(map.get($states, disabled), background);
        border: map.get(map.get($states, disabled), border);
        color: map.get(map.get($states, disabled), color);
        cursor: not-allowed;
        opacity: 0.7;
        svg path {
          fill: map.get(map.get($states, default), color);
        }
      }
    }
  }
  @include mixins.transition(background, border, color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  outline: none;

  &--fullWidth {
    width: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
