.input-ls,
.select-ls,
.textarea-ls {
  height: 40px;
  min-height: 40px;
  background: var(--gray_50);
  font-size: 16px;
  line-height: 22px;
  border: 1px solid var(--gray_300);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 16px;
  transition: box-shadow 80ms ease;
  font-weight: 400;

  &_ghost {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
  }
}

input.input-ls[type="radio"] {
  width: 16px;
  height: 16px;
  min-height: 0;
}

.textarea-ls {
  padding: 12px 16px;
  min-height: 50px;
}

.empty-model {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
