.Label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-900);
}

.Switch {
  position: relative;
  display: flex;
  align-items: center;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 3px 4px 3px 4px;
  width: 2rem;
  height: 1.25rem;
  border-radius: 1.5rem;
  outline-offset: -1px;
  background-color: var(--color-gray-400);
  background-size: 6.5rem 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition-property: background-position, box-shadow;
  transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
  transition-duration: 125ms;

  &:active,
  &:hover {
    background-color: var(--color-gray-500);
  }

  &[data-checked] {
    background-color: var(--color-emerald-700);
  }

  &[data-checked]:active {
    background-color: var(--color-emerald-500);
  }

  &[data-disabled] {
    background-color: var(--color-gray-300);
  }

  &[data-disabled] [data-checked] {
    background-color: var(--color-emerald-200);
  }

  &:focus-visible {
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      border-radius: inherit;
      outline: 3px solid var(--color-blue);
      outline-offset: 3px;
    }
  }
}

.Thumb {
  aspect-ratio: 1 / 1;
  height: 80%;
  border-radius: 100%;
  background-color: white;
  transition: translate 150ms ease;

  &[data-checked] {
    translate: 0.75rem 0;
  }
}
