.project-picker {
  position: relative;
  margin-left: 40px;
  cursor: pointer;

  &__title {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &_highlight {
      color: #79dca3;
    }
  }

  &__dropdown {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    a {
      color: rgba(255, 255, 255, 0.6);
    }

    & > *:hover {
      color: #79dca3;
    }
  }
}
