@import url("./mobile.css");
@import url("./robopipe-footer.css");

html {
  overflow-x: auto;
}

body {
  --font-sans: "Figtree", sans-serif !important;
  --font-mono: Monaco, monospace;

  --white: #ffffff;
  --black: #000000;

  --surface_3: rgba(0, 0, 0, 0.03);
  --surface_5: rgba(0, 0, 0, 0.05);
  --surface_12: rgba(0, 0, 0, 0.12);

  --border_5: rgba(255, 255, 255, 0.05);
  --border_12: rgba(255, 255, 255, 0.12);

  --gray_50: #f9fafb;
  --gray_100: #f3f4f6;
  --gray_200: #e5e7eb;
  --gray_300: #d1d5db;
  --gray_400: #9ca3af;
  --gray_500: #6b7280;
  --gray_600: #4b5563;
  --gray_700: #374151;
  --gray_800: #1f2937;
  --gray_900: #111827;
  --gray_950: #030712;

  --pear_50: #f8fcea;
  --pear_100: #f1fac7;
  --pear_200: #e8f692;
  --pear_300: #e0f053;
  --pear_400: #dce91d;
  --pear_500: #d6da18;
  --pear_600: #bcb212;
  --pear_700: #968312;
  --pear_800: #7d6816;
  --pear_900: #6a5419;
  --pear_950: #3e2f0a;

  --emerald_50: #eefbf3;
  --emerald_100: #d5f6df;
  --emerald_200: #aeecc3;
  --emerald_300: #79dca3;
  --emerald_400: #43c47d;
  --emerald_500: #20a963;
  --emerald_600: #13884e;
  --emerald_700: #0f6d41;
  --emerald_800: #0e5734;
  --emerald_900: #0d472d;
  --emerald_950: #06281a;

  --neon_50: #edfffc;
  --neon_100: #c0fff8;
  --neon_200: #81fff4;
  --neon_300: #3affee;
  --neon_400: #00ebcf;
  --neon_500: #00e2c8;
  --neon_600: #00b7a6;
  --neon_700: #009185;
  --neon_800: #00726b;
  --neon_900: #045d58;
  --neon_950: #003a39;

  --blue_50: #eef3ff;
  --blue_100: #d9e4ff;
  --blue_200: #bcd0ff;
  --blue_300: #8eb3ff;
  --blue_400: #5989ff;
  --blue_500: #2756ff;
  --blue_600: #1b3cf5;
  --blue_700: #1429e1;
  --blue_800: #1722b6;
  --blue_900: #19248f;
  --blue_950: #141857;

  --violet_50: #fcf4ff;
  --violet_100: #f8e7ff;
  --violet_200: #f2d3ff;
  --violet_300: #e8b0ff;
  --violet_400: #db7dff;
  --violet_500: #cd4bff;
  --violet_600: #bf28f5;
  --violet_700: #a818da;
  --violet_800: #8b19b0;
  --violet_900: #72168d;
  --violet_950: #52016a;

  --pink_50: #fef1f9;
  --pink_100: #fee5f4;
  --pink_200: #fecceb;
  --pink_300: #ffa2da;
  --pink_400: #fe68be;
  --pink_500: #f93ba3;
  --pink_600: #de1579;
  --pink_700: #cb0b65;
  --pink_800: #a80c53;
  --pink_900: #8b1048;
  --pink_950: #560128;

  --red_50: #fef2f3;
  --red_100: #fee5e7;
  --red_200: #fbd0d5;
  --red_300: #f8a9b2;
  --red_400: #f47889;
  --red_500: #e93a57;
  --red_600: #d7274d;
  --red_700: #b51b40;
  --red_800: #98193b;
  --red_900: #821938;
  --red_950: #48091b;

  --sand_900: #12110d;
  --sand_800: #262522;
  --sand_700: #45433e;
  --sand_600: #6b6860;
  --sand_500: #a49f95;
  --sand_400: #cac5b8;
  --sand_300: #e1ded5;
  --sand_200: #f0efeb;
  --sand_100: #f9f8f6;
  --sand_0: #fdfdfc;

  --grape_0: #f0f3fe;
  --grape_100: #d4dbfb;
  --grape_500: #566fcf;
  --grape_600: #576cc1;
  --grape_700: #4c5fa9;
  --grape_800: #37447a;

  --kale_0: #f4f9f9;
  --kale_400: #57b7ab;

  --plum_500: #cc6fbe;
  --plum_400: #e37bd3;
  --plum_100: #f7d6f2;
  --plum_0: #fbf2fc;

  --persimmon_300: #ff9f89;
  --persimmon_400: #ff7557;

  --canteloupe_0: #fff6ef;
  --canteloupe_100: #ffe4d0;
  --canteloupe_400: #ffa663;
  --canteloupe_500: #e69559;
  --canteloupe_600: #cc854f;
  --canteloupe_700: #b37445;

  --red_1: #fff1f0;
  --red_3: #ffccc7;
  --red_7: #cf1322;
  --red_10: #5c0011;

  --primary_link: #20a963;

  overflow-x: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--gray_900);
}
a {
  text-decoration: none;
}

table th {
  background-color: #fcfcfc;
}

table td {
  font-size: 13px;
}
table tr.positive {
  color: #222222 !important;
  background-color: #fafffb;
}

table tr:nth-child(2n).positive {
  background-color: #f5fff7;
}

table th {
  font-weight: normal;
  font-size: 1em;
}

.team-header {
  background: #f7fcff !important;
}

.small-text {
  font-size: 0.3em;
  color: grey;
  line-height: 0;
}

.message a.no-go {
  text-decoration: none;
  border-bottom: 1px dashed #5994cb;
}

.segment .support {
  text-align: center;
  color: #666;
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.tab {
  padding: 2em !important;
}

.ui.divider-wide {
  margin: 2rem 0 !important;
}

.sidebar {
  background: #302b3c;
  visibility: visible !important;
  width: 230px !important;
}
.sidebar .item {
  font-size: 16px;
}
.breadcrumb .active,
.breadcrumbs-menu .active {
  font-weight: lighter !important;
}

.brown {
  background-color: #3a6ea5 !important;
}

.pusher {
  display: flex;
  min-height: 100vh;
  min-width: 840px;
  flex-direction: column;
  background: #fcfcfc !important;
}

.pusher > .main {
  flex: 1;
  width: 100%;
}

.pushable > .pusher {
  overflow: unset;
}

main.main {
  background: #fcfcfc !important;
  padding: 2em 4rem 2rem 2rem;
}

.ui.label {
  margin-bottom: 3px;
}

.zero-margin {
  margin: 0 !important;
}

.zero-padding {
  padding: 0 !important;
}

.logo-image {
  width: 200px;
}

.ui.vertical.menu .active.item {
  /* background: #444 !important; */
  background: rgba(26, 108, 158, 0.48) !important;
}

.ui.menu .menu {
  margin-top: 4rem !important;
}

.ui.menu .menu .item {
  padding: 0.8em 1.14285714em !important;
  border: 0px;
}

.message .header {
  margin-bottom: 0.5em !important;
}

.cm-s-default {
  border: 1px solid #00000026;
  border-radius: 3px;
}

.logo-sym {
  width: 36px;
  display: block;
  position: absolute;
  top: 2.75em;
  left: 1.2em;
}

.logo {
  display: block;
  height: 20px;
  margin: 3.35em 1em 3.3em 1.25em;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MzguMzIgNzcuMyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5sb2dvX2hfd2hpdGU8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTY0LjUzLDBWNzUuMzloLTIxVjQ2LjQ1SDIxVjc1LjM5SDBWMEgyMVYyNy4ySDQzLjU4VjBaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTM3LjE0LDQ1Ljc2YTM2Ljg2LDM2Ljg2LDAsMCwxLS40MSw1LjNIOTMuNTRjMS4zMSw2LjY3LDUuNTUsMTAuMTIsMTEuODcsMTAuMTIsNC42OCwwLDguNTktMiwxMC41Mi01LjQ1aDE5LjkzQzEzMS43Nyw2OSwxMjAsNzcuMywxMDUuNDEsNzcuM2MtMTguMTUsMC0zMS41OS0xMy4yNi0zMS41OS0zMXMxMy4zNC0zMC45NCwzMS41OS0zMC45NGMxOC43NSwwLDMxLjczLDEzLjM4LDMxLjczLDMwLjQzWk05My44OSw0MGgyMy41MWMtMS43Ni01LjgxLTUuOTUtOC45NS0xMi04Ljk1Qzk5LjU3LDMxLDk1LjUxLDM0LjIsOTMuODksNDBaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjA4LjE2LDE3LjE3Vjc1LjMzSDE5Mi42N0wxOTEsNzEuMjJhMjcuNTQsMjcuNTQsMCwwLDEtMTcuNTUsNi4wOGMtMTcuNzgsMC0zMC41LTEzLTMwLjUtMzEuMDVzMTIuNzEtMzAuODMsMzAuNS0zMC44M2EyNy41OSwyNy41OSwwLDAsMSwxNy43Nyw2LjI1bDItNC41Wk0xODkuMTEsNDYuM2MwLTcuNTUtNS41Mi0xMy4yMi0xMy0xMy4yMnMtMTMsNS42Ny0xMywxMy4yMiw1LjUyLDEzLjI3LDEzLDEzLjI3UzE4OS4xMSw1My44OSwxODkuMTEsNDYuM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNTguNjYsMTdWMzUuMjloLTcuNzhjLTcuMDksMC0xMC4wNiwzLjExLTEwLjA2LDEwLjUzVjc1LjM5aC0yMFYxNy4yM2gxMy40MmwzLjEzLDYuNDVjNC4xLTQuNzQsOS4xLTYuNzMsMTYtNi43M1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMDYuNDMsNTcuODVWNzUuMzlIMjkyLjY1Yy0xMi44NiwwLTIwLjY4LTcuODYtMjAuNjgtMjAuNzlWMzIuNjZIMjYxLjMyVjI4TDI4Ny4zOC4yM2g0LjEydjE3aDE0LjYxVjMyLjY2SDI5MlY1MS4xN2MwLDQuMTcsMi41MSw2LjY4LDYuNzQsNi42OFoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zNzUuMTgsNDUuNzZhMzYuODYsMzYuODYsMCwwLDEtLjQxLDUuM0gzMzEuNTdjMS4zMSw2LjY3LDUuNTUsMTAuMTIsMTEuODcsMTAuMTIsNC42OCwwLDguNTktMiwxMC41Mi01LjQ1SDM3My45QzM2OS44MSw2OSwzNTgsNzcuMywzNDMuNDUsNzcuM2MtMTguMTUsMC0zMS41OS0xMy4yNi0zMS41OS0zMXMxMy4zNC0zMC45NCwzMS41OS0zMC45NGMxOC43NSwwLDMxLjczLDEzLjM4LDMxLjczLDMwLjQzWk0zMzEuOTMsNDBoMjMuNTFjLTEuNzYtNS44MS01Ljk1LTguOTUtMTItOC45NUMzMzcuNjEsMzEsMzMzLjU1LDM0LjIsMzMxLjkzLDQwWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQxNS45NCw3NS4zOWwtOS41Ni0xNy4yMy05Ljc1LDE3LjIzSDM3NC41bDE5LjI5LTMwLjE4LTE3Ljg4LTI4SDM5OGw4LjQsMTQuNjUsOC43OS0xNC42NUg0MzdMNDE5LDQ0LjdsMTkuMzMsMzAuN1oiLz48L3N2Zz4=)
    no-repeat center;
  opacity: 0.85;
}

.logo-small {
}

.top-margin-none {
  margin-top: 0;
}

.upload-row-error {
  margin-top: 0.5%;
}

.upload-row-error .code {
  display: block;
  font-size: 85%;
}

.upload-row-error * {
  display: inline-block;
}

.help-button,
.settings-button {
  padding: 0.80571429em 0.7em 0.80571429em !important;
}

/* --- fomantic rating bug fix in editor --- */
.ui .rating i:before {
  content: "\f005";
  color: #111;
  opacity: 0.2;
}

.ui .rating i.active:before {
  opacity: 1;
}

.ui .rating i.selected:before {
  opacity: 1;
}

/* editor width */
div[class^="App_editor"],
div[class*=" App_editor"] {
  width: 100%;
}

/* create and edit_config pages */
.editor-iframe {
  display: none;
  width: 100%;
  overflow: hidden !important;
  border: none;
}

/* --- Task explorer --- */
#source-data-pre {
  /* word breaks to correct presentation */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* --- Cards --- */
.upper-right {
  position: absolute;
  top: 10px;
  right: 5px;
}

.no-border {
  padding: 0;
  border: none;
  background: none;
}

/* --- Mobile Menu --- */
.top-sidebar {
  display: none;
}

.right-part {
  background: #e8e8e8;
  margin-left: 230px;
}

/* --- Plots --- */
.plot-instance {
  width: 100%;
}

.settings-slider {
  padding-top: 0 !important;
  width: 20% !important;
  min-width: 500px !important;
}

@media only screen and (max-width: 768px) {
  .main {
    margin-right: 0;
  }

  .dashboard-title {
    display: none;
  }

  .right-part {
    background: #e8e8e8;
    margin-left: 0;
  }

  button.undo,
  button.redo,
  button.reset {
    display: none !important;
    visibility: hidden;
  }

  .pusher {
    left: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
    min-width: unset !important;
  }

  body.pushable {
    background: white !important;
  }

  main.main {
    width: 100%;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .top-sidebar {
    display: block;
    background-color: #302b3c !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .rmenu {
    padding-top: 0px !important;
    /* margin-top: 0px !important; */
    margin-right: 1rem !important;
    margin-top: -25px !important;
    padding-top: -20px !important;
    display: inline-flex !important;
    top: -10px !important;
    height: 0px !important;
  }

  /* --- Plots --- */
  .plot-instance {
    max-width: 100%;
  }

  .settings-slider {
    padding-top: 0 !important;
    width: 20% !important;
    min-width: 100% !important;
  }
}

/* --- Mobile Menu End --- */

/* --- Stripe --- */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;
  margin: 1em 0;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f7f7f7;

  box-shadow: 1px 1px 3px 1px #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*--- Stripe End --- */

/*--- Others ---*/
.private-icon {
  font-size: 90% !important;
  padding-top: 5px;
  color: #555;
  margin-right: 0;
}

.ui.visible.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(230px, 0, 0) !important;
  transform: translate3d(230px, 0, 0) !important;
}

/* fix cards headers with long titles */
.ui.card .project-card-header {
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.card .project-card-title {
  color: #444;
  align-self: flex-start;
}

.ui.card .project-card-buttons {
  margin-left: auto;
  display: inline-flex;
}

.ui.card .project-button {
  color: #444 !important;
}

.ui.card .project-button:hover {
  color: #4183c4 !important;
}
.card-header {
  background: #fafafa !important;
}

hotkey {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}
hotkey i {
  color: #777;
}
.hotkey-helper {
  margin-bottom: 1em;
}
.hotkey-helper .keys {
  min-width: 15em;
  display: inline-block;
}
.hotkey-helper .description {
  margin-left: 1.5em;
  display: inline-block;
}

.whats-new-date {
  display: block;
  font-size: 0.75em;
  color: #505050;
  margin-left: 2.2em;
  margin-top: 0.2em;
}

/* semantic ui pretty */

.ui .button {
  font-weight: 400 !important;
}
.ui .button.primary {
  background: rgb(24, 144, 255);
  border-color: rgb(24, 144, 255);
  color: #fff;
}
.ui .button.primary:hover {
  background: rgb(24, 156, 255);
  border-color: rgb(24, 156, 255);
  color: #fff;
}
.ui .button.primary:focus {
  background: rgb(13, 154, 255);
  border-color: rgb(24, 156, 255);
  color: #fff;
}
.ui .button.positive {
  background: #25c440;
  border-color: #25c440;
}
.ui .button {
  transition: 0.3s;
}
.ui .button:hover {
  transition: 0.3s;
}
.ui .message,
.ui.message {
  background: none !important;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
  color: #555;
}
.ui .message .content,
.ui.message .content {
  margin-top: 0.7em;
}
.ui .message .category .icon {
  color: #777;
}
.ui .placeholder {
  font-weight: lighter !important;
}
.ui.placeholder.segment {
  background: #fafafa !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui .icon {
  font-weight: lighter;
}
.ui .statistic .label {
  font-weight: normal !important;
}
.ui .statistic .value {
  font-weight: lighter !important;
  color: #444 !important;
}
.ui .divider.section {
  margin-top: 2em;
  margin-bottom: 1.1em;
  box-sizing: content-box !important;
  text-transform: none !important;
  font-size: 1.25;
  font-weight: normal;
}
.ui form p:first-of-type,
.ui .form p:first-of-type {
  margin-top: 0 !important;
}
.ui form label,
.ui .form label {
  font-size: 1em !important;
  font-weight: normal !important;
  color: #555 !important;
}
.ui form .field label,
.ui .form .field label {
  font-size: 0.95em !important;
  font-weight: normal !important;
  color: #555 !important;
}
.ui form p,
.ui .form p {
  color: rgb(85, 85, 85);
}

/* file upload button */
.ui form .field input[type="file"],
.ui .form .field input[type="file"] {
  border: none;
  padding-left: 0;
}
.ui form .field input[type="file"]::-webkit-file-upload-button,
.ui .form .field input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.ui form .field input[type="file"]::before,
.ui .form .field input[type="file"]::before {
  content: "Choose file";
  display: inline-block;
  background: none;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 400;
  font-size: 1em;
}
.ui form .field input[type="file"]:hover::before,
.ui .form .field input[type="file"]:hover::before {
  border-color: #333;
}
.ui form .field input[type="file"]:active::before,
.ui .form .field input[type="file"]:active::before {
  background: #e3e3e3;
}

.ui .label {
  font-weight: lighter;
  opacity: 1;
}
.ui .label .detail {
  font-weight: normal;
  opacity: 0.9;
}
.ui .basic.labels {
  opacity: 0.8 !important;
}
.ui.dropdown .menu > .header {
  font-weight: 400;
}

.ui.placeholder.segment {
  font-weight: lighter !important;
  color: #777;
}
.ui.placeholder .icon.header {
  color: #444;
}

.ui.segment .header {
  font-weight: lighter !important;
  font-size: 1.5em;
}

.ui .dividing.header {
  margin-bottom: 1em !important;
  color: red;
}

.ui.modal > .header {
  font-weight: normal !important;
}

.ui.accordion .title {
  font-size: 1.1em !important;
}

.ui.card,
.ui.cards > .card {
  box-shadow: 0 0 2px 0 #d1d1d1, 0 0 0 1px #e1e1e1;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: rgb(24, 144, 255) !important;
}

.small-breadcrumb {
  padding-top: 2px;
  font-size: 0.5em;
  color: #aaa;
  line-height: 1.2em;
}

.settings-padded {
  padding: 1em 1em 1em 1em;
}

.darkgrey {
  color: #555 !important;
}

.ui.labeled.icon.button > .icon,
.ui.labeled.icon.buttons > .button > .icon {
  background-color: unset;
}
.ui.labeled.icon.button,
.ui.labeled.icon.buttons .button {
  padding-left: 3em !important;
}
.ui.labeled.icon.button > i,
.ui.labeled.icon.buttons .button > i {
  padding-left: 0.85em !important;
}
.ui[class*="right labeled"].icon.button {
  padding-right: 3em !important;
  padding-left: 1.5em !important;
}
.ui[class*="right labeled"].icon.button i {
  padding-right: 2.25em !important;
}

/* to separate buttons in label-stream */
.breadcrumbs-menu .ui.icon.button,
.breadcrumbs-menu .ui.icon.buttons .button {
  margin-bottom: 0.5em;
}

/* pagination */
.page_select {
  cursor: pointer;
  border: none;
  background: none;
  min-width: 20px;
  text-align: center;
}

.page_size {
  cursor: pointer;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.pagination {
  height: 25px;
  box-shadow: none;
}

.people_list_roles {
  list-style: none;
  padding: 0 1em;
  color: #222;
}
.people_list_roles li {
  margin: 0.5em 0;
}
.people_list_roles li .role_span {
  font-size: 1.1em;
  font-weight: bold;
}
.people_list_roles li .desc_span {
  padding: 1em 1em;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
  font-size: 3rem !important;
}

.button.light-blue {
  background: rgb(77, 172, 255) !important;
  border-color: rgb(24, 144, 255) !important;
  color: #fff !important;
}
.button.light-blue:hover {
  background: rgb(50, 149, 230) !important;
}
