.robopipe-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;

    span:first-of-type {
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        padding-right: 12px;
        margin-right: 12px;
    }
}
