.settingsCard {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 12px;

  .icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-emerald-600);

    svg path {
      fill: var(--color-white);
    }
  }

  .stepNumber {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
