.header {
  background-color: #0f0f18;
  padding: 12px;

  &__nav {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
  }

  ul {
    margin: 0;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__main-nav {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }

  &__nav-link {
    padding: 4px 16px 4px 8px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      color: #79dca3;

      svg path {
        fill: #79dca3;
        fill-opacity: 1;
      }
    }

    &_active {
      background-color: #43c47d26;
      color: #79dca3;

      svg path {
        fill: #79dca3;
        fill-opacity: 1;
      }
    }
  }

  &__side-nav {
    display: flex;
    gap: 10px;
    margin-left: auto !important;
  }

  &__icon {
    display: flex;
  }
}
