@use "../../themes/common/mixins" as mixins;

.text {
  margin: 0;
  padding: 0;

  $sizes: 10, 12, 14, 16, 20;
  @each $size in $sizes {
    &--text-#{$size} {
      @include mixins.text($size);
    }
    &--code-#{$size} {
      font-family: var(--font-family-code);
      @include mixins.text($size);
    }
    &--number-#{$size} {
      font-family: var(--font-family-number);
      @include mixins.text($size);
    }
  }

  $weights: 400, 500, 700;
  @each $weight in $weights {
    &--weight-#{$weight} {
      font-weight: $weight;
    }
  }
}
