.upload-row {
  border: 1px solid #0000000d;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-container {
    width: 64px;
    display: flex;
    align-items: center;

    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__controls {
    display: flex;
    gap: 4px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__preview {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__filename {
    margin: 0 0 4px 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
  }

  &__timestamp {
    margin: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
}
