@use "sass:map";

$color_variants: (
  neutral: (
    bg: var(--color-surface-5),
    text: var(--color-text-secondary),
  ),
  success: (
    bg: var(--color-emerald-100),
    text: var(--color-emerald-700),
  ),
  error: (
    bg: var(--color-red-100),
    text: var(--color-red-700),
  ),
);

.badge {
  padding: 4px 10px;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @each $variant, $colors in $color_variants {
    &--#{$variant} {
      background-color: map.get($colors, bg);
      color: map.get($colors, text);
    }
  }
}
