.userpic-ls {
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 100%;
  color: var(--gray_900);
  justify-content: center;
  background: var(--gray_200);
  box-shadow: inset 0 0 0 1px var(--gray_500);

  img {
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 22px;
    object-fit: cover;
    position: absolute;
  }

  &__username {
    display: block;
    line-height: 22px;
    font-weight: bold;
    opacity: 0.4;
  }
}
