.splitSettings {
  width: 100%;

  .slider {
    width: 100%;

    & > div {
      width: 100%;

      & > div {
        background: linear-gradient(
          to right,
          var(--color-emerald-700) var(--bg-split),
          var(--color-blue-400) var(--bg-split)
        );

        & > div {
          background-color: var(--color-violet-500);
        }
      }
    }

    [data-index="0"],
    [data-index="1"] {
      background-color: rgba(0, 0, 0, 0.75);
      border: none;
    }
  }
}
