.capture-manual {
  &__heading {
    text-align: center;
  }

  &__dropzone {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px dashed rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    padding: 32px;
  }

  &__dropzone-heading {
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    margin-top: 32px;
  }

  &__dropzone-supported-exts {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
    margin-top: 12px;
  }

  &__dropzone-upload-btn {
    color: #ffffff;
    font-weight: 700;
    padding: 8px 20px;
    background-color: #0f6d41;
    border-radius: 12px;
    margin-top: 32px;
    cursor: pointer;
  }
}
