.video-player-container {
  &__video-wrapper {
    overflow: hidden;
    -webkit-transform: translateZ(0);
    border-radius: 16px;

    video {
      max-width: 100%;
      vertical-align: bottom;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &__capture-button {
    width: 48px;
    height: 48px;
    border: 1px solid #ffffff;
    padding: 7px;
    border-radius: 100%;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      background-color: #ffffff;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      position: absolute;
    }
  }

  &__capture-remaining {
    position: absolute;
    bottom: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    z-index: 1;
  }

  &__stop-capture {
    background-color: #0f6d41;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  &__stop-capture > &__icon {
    display: flex;
    align-items: center;
  }
}
