.loadingContainer {
  flex: 1;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  margin: -1.5rem;
  background: #fff;
}

.page {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: minmax(0, 1fr);
  flex: 1;
  min-height: 0;
}
