.train {
  &__main {
    margin-left: 300px;
    padding: 20px;
  }
}

.list-sidebar {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.03);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  overflow-y: auto;
  position: fixed;

  &__loading {
    position: absolute;
    right: 50%;
    top: 25%;
    transform: translateX(50%);
  }

  .create-new-btn {
    width: 100%;
  }

  &__model-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}
